<div class="header">
    <div class="heading Cf">
        <h1 class="bdlogo">
            <span class="b">Beardude</span>
            <span class="e">Event</span>
        </h1>
    </div>
</div>
<div class="body">
    <h2 class="pageMsg"><%= title %></h2>
</div>