<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <title>Beardude Event</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    </head>
    <body>
<<<<<<< HEAD
      <div id="main-container"></div>
    </body>
=======
      <div id="main-container" class="container"></div>
    <script type="text/javascript" src="/js/console/core.d41d8cd98f00b204e980.js"></script><script type="text/javascript" src="/js/console/vendor.3cacbe0cdfd434d1b139.js"></script><script type="text/javascript" src="/js/console/main.8d59632067920a0602b5.js"></script></body>
>>>>>>> react-router v4 && polyfills
  </html>
