<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <title>Beardude Event</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link href="/js/console/main.28b33c09075166ec4d41bebf3d4f5eb8.css" rel="stylesheet"></head>
    <body>
      <div id="main-container"></div>
    <script type="text/javascript" src="/js/console/core.d41d8cd98f00b204e980.js"></script><script type="text/javascript" src="/js/console/vendor.3cacbe0cdfd434d1b139.js"></script><script type="text/javascript" src="/js/console/main.20b881940965e8166b59.js"></script></body>
  </html>
