@import '../../style/includes.css';

.mainBody {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow: auto;
    font-size: 15px;

    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.mainBody li {
    margin: 3%;
}