@import '../../style/includes.css';

.mainBody {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow: auto;
    font-size: 15px;
}
.mainBody li {
    margin: 3%;
}
.iconView {
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}