.wrap {
  
}
.fixed>div {
  position: fixed;
}
.mainBody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: auto;
}
.loading {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
  margin: 200px auto;
  text-align: center;
}
.info {
  position: relative;
  margin: 50px 0 15px 0;
  padding: 10px 25px;
  width: 100%;
  color: #fff;
}
.info h2 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin: 0 0 3px 0;
}
.info h3 {
  font-size: 15px;
  font-weight: 300;
  color: #ddd;
  letter-spacing: 0.3px;
  display: inline-block;
}
.info .btn {
  position: absolute;
  bottom: 10px;
  right: 25px;
}
.lights {
  display: inline-block;
  margin: 0 0 0 20px;
}
.lights li {
  font-size: 11px;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  background: #aaa;
  padding: 1px 5px;
  margin: 0 20px 0 0;
}
.lights .on {
  background: #0c0;
}
.time {
  margin: 0 0 0 20px;
}
.managerList {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 16px 32px;
  border-left: solid 6px RGBA(66, 66, 66, 0.8);
  padding: 0 16px;
  color: #E0E4E9;
  font-size: 14px;
}

.managerList > div:nth-child(1) {
  width: 33%;
  flex-shrink: 0;
}

.managerList > div:nth-child(2) {
  width: 33%;
  flex-shrink: 0;
}

.managerList > div:nth-child(3) {
  flex-grow: 1;
}

.managerList h3 {
  background: RGBA(66, 66, 66, 0.8);
  color: #E0E4E9;
  margin-right: 8px;
  padding: 8px 16px;
}

.managerList ul {
  height: 320px;
  overflow-y: scroll;
  overflow: auto;
}

.li {
  display: flex;
  color: #fff;
  margin-right: 8px;
  min-height: 39px;
  line-height: 39px;
  cursor: pointer;
}
.selected {
  composes: li;
  background: rgba(255,255,255, 0.4);
}
.managerList li input {
  height: 30px;
  width: 29%;
  margin: 4px 0 0 3%;
  color: #000;
}
.redTxt {
  color: #fa1229;
}

.managerList li:active {
  background: RGBA(243, 243, 243, 0.4);
}
.managerList .ft {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 39px;
  background: RGBA(255, 255, 255, 0.4);
}
.boxFt {
  margin: 20px 0 0 110px;
}
.boxFt button {
  margin: 0 30px 0 0;
}
.right {
  float: right;
}