.wrap {
  
}
.fixed>div {
  position: fixed;
}
.mainBody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
}
.loading {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
  margin: 200px auto;
  text-align: center;
}
.info {
  position: relative;
  margin: 40px 0 10px 0;
  padding: 5px 15px;
  width: 100%;
  color: #fff;
}
.info h2 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin: 0 0 3px 0;
}
.info h3 {
  font-size: 14px;
  font-weight: 300;
  color: #ddd;
  letter-spacing: 0.3px;
  display: inline-block;
}
.info .btn {
  margin: 0 0 0 20px;
}
.lights {
  display: inline-block;
  margin: 0 0 0 20px;
  line-height: 17px;
}
.lights li {
  font-size: 11px;
  display: inline-block;
  border: 0;
  border-radius: 20px;
  background: #aaa;
  padding: 1px 5px;
  margin: 0 10px 0 0;
  color: #ddd;
  text-indent: 0;
}
.managerList .lights {
  position: absolute;
  right: 50px;
  top: 10px;
}
.toRight .lights {
  right: 0;
}

.lights .on {
  background: #00c000;
  color: #fff;
}
.time {
  margin: 0 0 0 20px;
}
.managerList {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  color: #E0E4E9;
  font-size: 14px;
  height: 100%;
}
.managerList > div {
  position: relative;
  overflow-y: scroll;
  overflow: auto;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.managerList > div:nth-child(1),
.listHds .hd:first-child {
  width: 33%;
  flex-shrink: 0;
}
.managerList > div:nth-child(2),
.listHds .hd:nth-child(2) {
  width: 33%;
  flex-shrink: 0;
}
.managerList > div:nth-child(3),
.listHds .hd:nth-child(3) {
  flex-grow: 1;
  border-right: 0;
}
.listHds {
  width: 100%;
  display: flex;
}
.listHds .hd {
  color: #fff;
  height: 36px;
  line-height: 36px;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  padding: 0 0 0 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  overflow: hidden;
}
.listHds .hd button {
  margin: 0 5px;
  vertical-align: middle;
}
.managerList .ul {
  overflow-y: scroll;
  overflow: auto;
  padding: 0 0 182px 0;
}
.managerList .ul .li button {
  margin: 0;
}
.li {
  display: flex;
  color: #fff;
  height: 39px;
  line-height: 39px;
  cursor: pointer;
}
.list {
  display: block;
  height: 100%;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: #fff;
  margin: 0 0 0 10px;
  padding: 0 10px 0 0;
  text-indent: 5px;
  border: 0;
  background: 0;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
  position: relative;
  font-family: "San Francisco";
  letter-spacing: 0.5px;
}
.count {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 6px;
  padding: 0 6px;
  border-radius: 10px;
  text-indent: 0;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Garamond, Times;
  background: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-weight: 500;
  min-width: 30px;
  height: 20px;
  line-height: 20px;
}
.raceNumber {
  margin: 0 10px 0 0;
}
.selected {
  composes: li;
  background: rgba(255,255,255, 0.4);
}
.managerList li input {
  height: 30px;
  width: 29%;
  margin: 4px 0 0 3%;
  color: #000;
}
.redTxt {
  color: #fa1229;
}
.managerList li:active {
  background: RGBA(243, 243, 243, 0.4);
}
.form {
  max-width: 600px;
  margin: 0 auto;
}
.boxFt {
  margin: 20px 0 0 110px;
}
.boxFt button {
  margin: 0 105px 0 0;
}
.boxFt button:last-child {
  margin: 0;
}
.right {
  float: right;
}
.rfid>ul {
  display: inline-block;
}
.rfidBtn {
  margin: 0 0 0 110px;
}
h4.forbidden {
  margin: 0 0 0 110px;
  color: #c20000;
}
@media only screen and (max-width : 780px) {
  .lights {
    display: none;
  }
  .info {
    padding: 0 15px;
    margin: 35px 0 10px 0;
  }
  .info h2 {
    font-size: 16px;
    margin: 0;
  }
  .info .btn {
    right: 15px;
  }
  .managerList {
    padding: 0;
  }
  .listHds .hd {
    font-size: 14px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow: auto;
  }
  .listHds .right {
    float: none;
  }
  .listHds .hd button {
    margin: 0 2px;
    padding: 4px;
    font-size: 13px;
  }
  .count {
    display: none;
  }
}