/** San Francisco Font */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("/images/fonts/sanfranciscodisplay-ultralight-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("/images/fonts/sanfranciscodisplay-thin-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("/images/fonts/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("/images/fonts/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("/images/fonts/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("/images/fonts/sanfranciscodisplay-bold-webfont.woff");
}
