/** San Francisco Font */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("../assets/fonts/sanfranciscodisplay-thin-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("../assets/fonts/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("../assets/fonts/sanfranciscodisplay-medium-webfont.woff");
}
/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("../assets/fonts/sanfranciscodisplay-bold-webfont.woff");
}
