@import '../../style/includes.css';

.body {
  position: relative;
  margin: 45px 0 0 0;
  height: 100%;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: stretch;
}

.list {
  width: 210px;
  border-right: 1px solid #ccc;
  background: #f9f9f9;
  flex-shrink: 0;
}
.edit {
  flex-grow: 1;
  position: relative;
}

.table {
  position: relative;
  width: 100%;
  height: 100%;
}
.tableBd {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: auto;
  height: 100%;
}
.tableFt {
  position: absolute;
  left: 0;
  bottom: 45px;
  height: 36px;
  border-top: 1px solid #ccc;
  width: 100%;
  background: #fff;
  z-index: 20;
}
.content {
  position: relative;
  overflow-x: hidden;
  padding: 0 0 124px 0;
}
.readOnly {
  composes: content;
}
.readOnly:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: " ";
  z-index: 10;
}
.readOnly input[type=text],
.readOnly input[type=password],
.readOnly textarea {
  border-color: #fff;
}
.readOnly .ctrl {
  display: none;
}
.li {
  position: relative;
  height: 39px;
  line-height: 39px;
}
.li:after {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 1px;
  left: 10px;
  bottom: -1px;
  background: #fefefe;
}
.selected {
  composes: li;
  background: #e0f0fb;
}
.selected:after {
  display: none;
}
.selected button {
  margin: 0;
  text-indent: 15px;
  border-bottom: 1px solid #b6def5;
}
.selected:after {
  background: #b6def5;
}

.tableBd section>ul li {
  margin: 0 0 12px 0;
}
.tableBd section {
  position: relative;
  padding: 20px;
  color: #777;
  font-size: 15px;
}
.tableBd section:after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  bottom: 0;
  width: 97%;
  height: 1px;
  background: #ccc;
}
.tableBd section:last-child {
  padding-bottom: 40px;
}
.tableBd section:last-child:after {
  display: none;
}
.tableBd h3 {
  font-size: 24px;
  color: #000;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.tableBd label {
  display: inline-block;
  width: 90px;
  margin: 0 10px 0 0;
  text-align: right;
  vertical-align: middle;
}
.tableBd input[type=text],
.tableBd input[type=password],
.tableBd textarea {
  display: inline-block;
  width: 360px;
  padding: 10px;
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
  font-weight: 300;
  vertical-align: middle;
}
.tableBd input:disabled,
.tableBd textarea:disabled {
    border-color: #fff;
}
